body {
  margin: 0;
  padding: 0;
  background-image:url("images/Night.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

#texts {
  text-align: center;
  font-size: 20px;
  padding-right: 10%;
  padding-left: 10%;
  color: white;
}

 #name  {
  font-family: 'Playball', cursive;
  font-size: 30px;
  padding-left: 45px;
  color: lightpink;
}

#title {
  text-align: center;
  font-style: italic;
  font-family: 'Playball', cursive;
  font-weight: lighter;
  font-size: 50px;
  padding-top: 290px;
  color: lightpink;
}

img {
  border-radius: 9px;
}

#text {
  text-align: center;
  font-style: italic;
  font-family: 'Lobster', cursive;
  text-shadow: 4px 4px #000000;
  font-size: 50px;
  padding-top: 40px;
  color: white;
}

#text2 {
  text-align: center;
  font-style: italic;
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
  font-weight: lighter;
  color: lightblue;
}



#wrapper {
  text-align: center;
  border: 1px solid;
  padding: 70px;
  padding-bottom: 200px;

}

h3 {
  text-align: center;
  color:white;
  padding-top: 60px;
  padding-bottom: -20px;


}

.main-container {
  display: flex;
  flex-flow: column;
}

.pad {
  padding-top: 200px;
}


.spacing {
  padding-right: 60px;
  padding-left: 60px;

}

.wrapper {
  padding-top: 300px;
  text-align: center;
  border: 1px;

}
.back {
  background-image: url("images/ye.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed, scroll;
}
.back2 {
  background-image: url("images/typing.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed, scroll;

}
li {

    float: right;
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav {
    padding-left: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.62);
}
#hover a:hover:not(.active) {
    background-color: lightpink;
    color: black;
}

/*.button {

  background-color: rgba(163, 163, 163, 0.4);
  border: none;
  color: lightpink;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 10px 570px;
  cursor: pointer;
}*/





































.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  margin-left: 630px;
  bottom: 30px;
  left: 50%;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
